::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  --at-apply: 'bg-background-light dark:(bg-background-dark)';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
