::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  --at-apply: 'bg-background-light text-black dark:(bg-background-dark text-white)';
}
